<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h2>Sign In</h2>
      </div>
      <form class="col s12 white" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <input name="UserName" type="text" class="validate" required [(ngModel)]="UserName">
            <label for="UserName">User Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <input name="Password" type="password" class="validate" required [(ngModel)]="Password">
            <label for="Password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2">
            <div class="input-field col s4">
              <button [disabled]="!f.form.valid" class="btn-large btn-submit">Submit</button>
            </div>
            <div class="input-field col s4">
              <a class="btn-large btn-default" (click)="goBack()">
                <i class="material-icons">arrow_back</i>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>