
<div class="row margin-20">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h3>Welcome To Win a Prize Contest..!</h3>
      </div>
      <form name="frmCheckPromoCode" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <h1 class="header center orange-text"></h1>
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <input name="PromoCode" type="text" class="validate" [(ngModel)]="promoCode" pattern="[a-zA-Z1-9]{6}" required>
            <label for="PromoCode">Please enter your coupon</label>
          </div>
        </div>
        <div class="row">
          <div class="col s10 offset-s1">
            <button [disabled]="!f.form.valid" name="CheckCode" class="btn-large waves-effect waves-light orange col s4 offset-s4">
                Check Your Coupon
                <i class="material-icons right">grade</i>
            </button>
          </div>
        </div>
        <div class="row">
          <h4 *ngIf="showMessage" class="header center red-text">{{message}}</h4>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row" class="ng-style=color:white;" >
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
            Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components
            and animations that provide more feedback to users. Additionally, a single underlying responsive system across
            all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are
            also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
</div>